







  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .slide-in {
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    0% { 
      transform: translateY(20px);
      opacity: 0; 
    }
    100% { 
      transform: translateY(0);
      opacity: 1; 
    }
  }
  
  .typing-name {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.05em; 
    animation: typingName 4s steps(30, end), blink-caret .75s step-end infinite;
    animation-fill-mode: forwards; 
  }
  
  .typing-role {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.05em; 
    animation: typingRole 4s steps(30, end), blink-caret .75s step-end infinite;
    animation-delay: 4s; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes typingName {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes typingRole {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  
  .typing-name.finished, .typing-role.finished {
    border-right: none; 
  }
  
  .button-hover {
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  }
  
  .button-hover:hover {
    transform: scale(1.05);
  }
  